@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-c6pwil');
	src:url('fonts/icomoon.eot?#iefix-c6pwil') format('embedded-opentype'),
		url('fonts/icomoon.woff?-c6pwil') format('woff'),
		url('fonts/icomoon.ttf?-c6pwil') format('truetype'),
		url('fonts/icomoon.svg?-c6pwil#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:after {
	content: "\e600";
}
.icon-key:after {
	content: "\e601";
}
.icon-popup:before {
	content: "\e602";
}
.icon-cog:before {
	content: "\e603";
}
.icon-leaf:before{
	content: "\e604";
}
.icon-cd:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
